<h2>Restaurants in Sydney City</h2>

<%= search_form_for @q do |f| %>

  <%= f.search_field :name_cont, :placeholder => 'Type Restaurant', :autofocus => 'true' %>

  <%= f.submit %>
<% end %>

<% @restaurants.each do |r| %>
<p> <%= link_to r.name, restaurant_path(r.id) %> </p>
<p><%= r.likes.count %> <%= (r.likes.count) == 1 ? 'Like' : 'Likes'%></p>
<% end %>
