<!DOCTYPE html>
<html>
  <head>
    <title>Project1</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <div class="container">
      <nav>
        <%= link_to 'Home', root_path %>
        <%= link_to 'Type of Cuisines', cuisines_path %>
        <%= link_to 'List of Restaurants', restaurants_path %>
        <%= link_to 'Sign Up' %>
        <%= link_to 'Sign In' %>
      </nav>
      <%= yield %>
    </div>
    <footer></footer>
  </body>
</html>
