<!DOCTYPE html>
<html>
<head>
<title>Restaurants on Rails</title>
<%= csrf_meta_tags %>
<%= csp_meta_tag %>
<%= cloudinary_js_config %>
<%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
<link rel="shortcut icon" type="image/png" href="https://ya-webdesign.com/images/plate-cartoon-png-5.png">
<link rel="stylesheet" href="../assets/stylesheets/_reset.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" >

</head>
<body class="<%= params[:controller] %> <%= params[:action] %>">
  <nav>
    <%= link_to 'Home', root_path %>
    <%= link_to 'Type of Cuisines', cuisines_path %>
    <%= link_to 'List of Restaurants', restaurants_path %>
    <% if @current_user.present? %>
    <% if @current_user.admin? %>
    <%= link_to 'All Members', users_path %>
    <% end %>
    <%= link_to "My Profile", user_path(@current_user.id) %>
    <%= link_to "Log Out #{@current_user.name}", login_path, :method => 'delete' %>
    <% else %>
    <%= link_to 'Create Account', new_user_path %>
    <%= link_to 'Log In', login_path %>
    <% end %>
  </nav>
  <div class="container">
    <%= yield %>
  </div>
  <div class="end">
    <p>Designed with &hearts; by <span>Rashida Bengali</span></p>
    <ul id="social">
      <li><a href="mailto:bengali.rashida@gmail.com" target="_blank"><i class="fa fa-envelope"></i> </a></li>
      <li><a href="http://github.com/" target="_blank"><i class="fa fa-github"></i></a></li>
      <li><a href="http://linkedin.com/" target="_blank"><i class="fa fa-linkedin"></i></a></li>
      <li><a href="http://twitter.com/" target="_blank"><i class="fa fa-twitter"></i></a></li>
    </ul>
  </div>

<script>
var slideIndex = 1;
showSlides(slideIndex);

function plusSlides(n) {
showSlides(slideIndex += n);
}

function currentSlide(n) {
showSlides(slideIndex = n);
}

function showSlides(n) {
var i;
var slides = document.getElementsByClassName("mySlides");
var dots = document.getElementsByClassName("dot");
if (n > slides.length) {slideIndex = 1}
if (n < 1) {slideIndex = slides.length}
for (i = 0; i < slides.length; i++) {
  slides[i].style.display = "none";
}
for (i = 0; i < dots.length; i++) {
  dots[i].className = dots[i].className.replace(" active", "");
}
slides[slideIndex-1].style.display = "block";
dots[slideIndex-1].className += " active";
}
</script>
</body>
</html>
